

.main-header-before {
    position: absolute;
    height: 20px;
    top: 0px;
    left: 0;
    width: 100%;
    background: url(/static/images/layout/art.png) repeat-x;
    background-size: 800px 100%;
    -webkit-background-size: 800px 100%;
    -moz-background-size: 800px 100%;
}


.main-header-content h2 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.main-header-content a {
    color: inherit;
    text-decoration: none;
}

.main-header-content ul {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #FF4B00
}

.main-header-content .flex {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
}
