<section>
  <!-- title -->
  <div class="row">
    <div class="input-field col s12">
      <input id="id-title" ng-model="ctrl.blog.title" type="text" class="validate">
      <label for="id-title">{{ 'Title' | translate }}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
    <select>
      <option value="" disabled selected>{{'Choose Type' | translate}}</option>
      <option value="angularjs">Angular.js</option>
      <option value="reactjs">React.js</option>
      <option value="d3js">D3.js</option>
    </select>
    <label>{{'Record Type' | translate}}</label>
  </div>
  </div>

  <!-- markdown content -->
  <div class="row">
    <div class="input-field col s12">
      <div ui-codemirror ng-model="ctrl.blog.content" ui-codemirror-opts="ctrl.editorOptions"
        style="border-top: 1px solid #9e9e9e; border-bottom: 1px solid #9e9e9e;"
      ></div>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button class="btn waves-effect waves-light pull-right" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
