<section>
  <!-- title -->
  <div class="row">
    <div class="input-field col s12">
      <input id="id-title" ng-model="ctrl.blog.title" type="text" class="validate">
      <label for="id-title">Title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <select class="input-field">
        <option value="" >Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>Materialize Select</label>
    </div>
  </div>
  <div class="input-field col s12 m6">
                <div class="select-wrapper"><span class="caret">▼</span><input class="select-dropdown" readonly="true" data-activates="select-options-d453f2c0-2f98-0cd5-df15-83735af27a3d" value="Choose your option" type="text"><ul style="width: 320px; position: absolute; top: 0px; left: 0px; opacity: 1; display: none;" id="select-options-d453f2c0-2f98-0cd5-df15-83735af27a3d" class="dropdown-content select-dropdown"><li class="disabled"><span>Choose your option</span></li><li class=""><span>Option 1</span></li><li class=""><span>Option 2</span></li><li class=""><span>Option 3</span></li></ul><select class="initialized">
                  <option value="" disabled="" selected="">Choose your option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select></div>
                <label>Materialize Select</label>
              </div>

  <!-- markdown content -->
  <div class="row">
    <div class="input-field col s12">
      <div ui-codemirror ng-model="ctrl.blog.content" ui-codemirror-opts="ctrl.editorOptions"
        style="border-top: 1px solid #9e9e9e; border-bottom: 1px solid #9e9e9e;"
      ></div>
    </div>
  </div>
</section>
