
$hoverColor: #F7F7F7;

/* Item default backgroup color is #F7F7F7 */
.item-default-backgroup-color {
  background-color: $hoverColor;
}

/* Item default transition width */
.item-default-transition-width {
  -webkit-transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
  -ms-transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
  transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
}

/* Item default transition left */
.item-default-transition-left {
  -webkit-transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
  -ms-transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
  -moz-transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
  -o-transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
  transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
}

/* The item style*/
.item {
  width: 100%;
  border-bottom: 1px solid #d5d7da;
  padding: 20px 0px;
  overflow:hidden;
}

.item-content {
  position: relative;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

/* The item:hover style*/
.item:hover {
  @extend .item-default-backgroup-color;
}


.item .item-link {
  width: 35%;
  background-color: #FFF;
  float: left;
  position: relative;
}

.item .item-link img {
  width: 100%;
  height: 100%;
}


/* The item > item-link style*/
.item .item-link::before {
  @extend .item-default-transition-width;
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 0px;
  top: 0;
  background-color: #FFF;
  z-index: 5;
}

.item:hover .item-link::before {
  @extend .item-default-transition-width;
  @extend .item-default-backgroup-color;
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 20px;
  top: 0;
  z-index: 5;
}


/* The item > item-link::after style*/
.item .item-link::after {
  @extend .item-default-transition-width;
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 20px;
  top: 0;
  background-color: #FFF;
  z-index: 5;
}

/* The item:hover > item-link::after style*/
.item:hover .item-link::after{
  @extend .item-default-transition-width;
  @extend .item-default-backgroup-color;
  width: 0px;
}

.item .item-info {
  width: 65%;
  float: right;
  overflow: visible;
  position: relative;
  padding-right: 50px;
  left: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.item .item-info {
  @extend .item-default-transition-left;
  left: 0px;
}

.item:hover .item-info {
  @extend .item-default-transition-left;
  left: 20px;
}

.item .item-info .item-info-title {

}

.item .item-info .item-info-content {
  
}
