


.related-horizontal-item {
    width: 25%;
    float: left;
    padding: 0 10px;
    margin-bottom: 15px;
    min-height: 40px;
}


.related-horizontal-item .hpi-wrap {
    -webkit-transition: opacity 0.35s;
    -moz-transition: opacity 0.35s;
    transition: opacity 0.35s;
    opacity: 1;
}

.related-horizontal-item .hpi-wrap {
    position: relative;
    display: block;
    padding-bottom: 60%;
    overflow: hidden;
}

.related-horizontal-content {
    position: relative;
}

.horizontal-post-img-w{
    content: "";
    background-position: center center;
    background-size: auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);

    /* Let image bigger */
    left: -50px;
    top: -50px;
    padding: 50px;

    /* The width don't contain padding */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}


.related-horizontal-item:hover .horizontal-post-img-w {
    -webkit-transform: scale(1.2)  rotate(0deg);
    -moz-transform: scale(1.2)  rotate(0deg);
    -ms-transform: scale(1.2)  rotate(0deg);
    transform: scale(1.2)  rotate(0deg);
}


.horizonta-post-title .hpi-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 0;
    color: #fff;
    top: 50%;
    left: 0;
    width: 80%;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.horizonta-post-title .hpi-text > .hpi-title {
  border-bottom:5px solid #0c7fd7;
}

/* Inner a new color #fab23a progress in hpi-title when hover */
.horizonta-post-title .hpi-text > .hpi-title:after {
    content: "";
    bottom: -5px;
    height: 5px;
    background: #fab23a;
    position: absolute;
    left:0;
    width: 0;
    -webkit-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.related-horizontal-content:hover .hpi-text > span:after {
  width:100%;
}

.horizonta-post-title .hpi-text > .hpi-title {
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px 5px 10px 10px;
    background: rgba(0,0,0,0.8);
}
