<div class="col-lg-8 col-md-8 col-xs-8 center-align">
<fieldset>
  <form name="recordForm" class="ng-pristine ng-invalid ng-invalid-required">
    <div class="form-group row">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label class="pull-left">{{ 'Title' | translate }}</label>
      </div>
      <div class="col-lg-10 col-md-10 col-xs-10">
        <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
          ng-model="ctrl.record.title" required ng-minlength="2" ng-maxlength="100"
        >
      </div>
    </div>
    <div class="form-group  row">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label class="pull-left">{{ 'Content' | translate }}</label>
      </div>
      <div class="col-lg-10 col-md-10 col-xs-10">
        <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
          ng-model="ctrl.record.content" required ng-minlength="2" ng-maxlength="100"
        >
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <label class="pull-left">{{ 'Type' | translate }}</label>
      </div>
      <div class="col-lg-10 col-md-10 col-xs-10">
        <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required"
          ng-model="ctrl.record.type" required ng-minlength="2" ng-maxlength="100"
        >
      </div>

      {{ctrl.record}}
    </div>
  </form>
  <!-- ng-disabled="!recordForm.$invalid" -->
  <button type="button" ng-disabled="recordForm.$invalid" class="btn btn-success"
    ng-click="ctrl.submitRecord()">{{ 'Submit' | translate }}</button>
</fieldset>
</div>
