<section class="container section-default">
  <div class="col-lg-4 col-md-4">
    <div class="mission-pic">
      <img src="/static/images/business/business1.png">
    </div>
    <ap-box title="Mission List">
      <ul class="list-group mission-list">
        <li class="list-group-item {{mission.status == 'complate' ? 'mission-complate' : ''}}"
          ng-repeat="mission in ctrl.missionList"
          ng-click="ctrl.showMissionItem(mission)"
        >
          <span class="badge">{{ctrl.moment(mission.createTime).format('YYYY-MM-DD')}}</span>
          <i class="fa fa-bookmark-o"></i>&nbsp;&nbsp;{{mission.title}}
        </li>
      </ul>
    </ap-box>
  </div>
  <div class="col-lg-8 col-md-8">
    <div class="mission-create-btn" ng-click="ctrl.toCreateMission()" ng-hide="ctrl.showCreate">
      Create Mission</div>
    <ap-box title="{{ 'Create Mission' | translate }}" class="mission-create" ng-show="ctrl.showCreate">
      <form class="form-horizontal" name="missionForm" novalidate>
        <div class="form-group">
          <label for="inputMissionTitle" class="col-md-2 col-sm-2 control-label">{{ 'Title' | translate }}</label>
          <div class="col-md-10 col-sm-10">
            <input type="text" class="form-control" id="inputMissionTitle" placeholder="Mission Title"
              ng-model="ctrl.newMission.title" ng-require required
            />
          </div>
        </div>
        <div class="form-group">
          <label for="inputMissionStart" class="col-md-2 col-sm-2 control-label">{{ 'Start' | translate }}</label>
          <div class="col-md-10 col-sm-10">
            <input type="text" class="form-control" id="inputMissionStart" placeholder="Mission Start Date"
              date-picker-attr
              ng-model="ctrl.newMission.startDate"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="inputMissionEnd" class="col-md-2 col-sm-2 control-label">{{ 'End' | translate }}</label>
          <div class="col-md-10 col-sm-10">
            <input type="text" class="form-control" id="inputMissionEnd" placeholder="Mission End Date"
              date-picker-attr
              ng-model="ctrl.newMission.endDate"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="inputMissionContent" class="col-md-2 col-sm-2 control-label">{{ 'Content' | translate }}</label>
          <div class="col-md-10 col-sm-10">
            <textarea class="form-control" id="inputMissionContent" placeholder="Mission Content"
              ng-model="ctrl.newMission.content" required
            ></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 col-sm-12">
            <div class="pull-right">
              <button class="btn btn-success" ng-click="ctrl.submitNewMission()" ng-disabled="missionForm.$invalid">
                {{ 'Submit' | translate}}
              </button>
              <button class="btn btn-default" ng-click="ctrl.cancelNewMission()">{{ 'Cancel' | translate}}</button>
            </div>
          </div>
        </div>
      </form>
    </ap-box>
    <ap-box title="{{ 'Mission Info' | translate }}">
      <fieldset>
        <div class="row container-fluid" ng-hide='!!ctrl.mission.title'>
          {{ 'Please select one mission.' | translate}}
        </div>
        <div class="mission-info container-fluid" ng-show="ctrl.mission.show">
          <div class="row">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">{{ 'Title' | translate }}</label>
            <div class="col-lg-8 col-md-8 col-sm-8">{{ctrl.mission.title}}</div>
          </div>
          <div class="row">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">{{ 'Status' | translate }}</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <button class="btn btn-success btn-xs"
                ng-if="ctrl.mission.status != 'complate'"
                ng-click="ctrl.complateMission()"
              >{{ 'Click To Complate' | translate}}</button>
              <span ng-if="ctrl.mission.status == 'complate'">Complate</span>
            </div>
          </div>
          <div class="row">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">{{ 'Create Date' | translate }}</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              {{ctrl.moment(ctrl.mission.createDate).format('YYYY-MM-DD HH:mm:ss')}}
            </div>
          </div>
          <div class="row">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">{{ 'Start Date' | translate }}</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              {{ctrl.moment(ctrl.mission.startDate).format('YYYY-MM-DD HH:mm:ss')}}
            </div>
          </div>
          <div class="row">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">{{ 'End Date' | translate }}</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              {{ctrl.moment(ctrl.mission.endDate).format('YYYY-MM-DD HH:mm:ss')}}
            </div>
          </div>
          <div class="row">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">{{ 'Content' | translate }}</label>
            <div class="col-lg-8 col-md-8 col-sm-8">{{ctrl.mission.content}}</div>
          </div>
          <div class="row">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">{{ 'Actions' | translate }}</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <button class="btn btn-default btn-xs"
                ng-if="!ctrl.showAction" ng-click="ctrl.showAction = true"
              >Show More Actions</button>
              <button class="btn btn-danger btn-xs"
                ng-if="ctrl.showAction" ng-click="ctrl.toDeleteMission()"
              ><i class="fa fa-close"></i> Delete</button>
            </div>
          </div>
        </div>
      </fieldset>
    </ap-box>
  </div>
</section>
