<article class="article-hp-wdd-cl">
    <div class="article-hp-cl-content">
        <a href="http://www.webdesignerdepot.com/2016/05/5-clients-that-will-destroy-your-design-business/" class="hp-wdd-img-lnk" style="background-image: url(&quot;http://netdna.webdesignerdepot.com/uploads/2016/05/featured_clientshell-1024x563.jpg&quot;); background-position: 50% 41.02%;">
            <img width="842" height="463" src="http://netdna.webdesignerdepot.com/uploads/2016/05/featured_clientshell-1024x563.jpg" class="hp-wdd-img wp-post-image" alt="featured_clientshell" srcset="http://netdna.webdesignerdepot.com/uploads/2016/05/featured_clientshell-1024x563.jpg 1024w, http://netdna.webdesignerdepot.com/uploads/2016/05/featured_clientshell-300x165.jpg 300w, http://netdna.webdesignerdepot.com/uploads/2016/05/featured_clientshell-768x422.jpg 768w" sizes="(max-width: 842px) 100vw, 842px">
        </a>
        <div class="hp-article-info">
            <div class="hp-cat">
                <a data-tooltip="See all posts related to Business" class="hp-category" href="http://www.webdesignerdepot.com/category/business/">Business</a>        </div>
                <h2 class="hp-article-title">
                    <a href="http://www.webdesignerdepot.com/2016/05/5-clients-that-will-destroy-your-design-business/" class="anim-link">5 clients that will destroy your design business</a>
                </h2>
                <div class="hp-excerpt">
                    Have you ever had a customer from hell? The kind of customer who abuses you, spending as little as they possibly can while trying to squeeze as much free work out of you as possible? You’re not alone. At some point, most creative professionals (e.g. designers, developers, copywriters, etc.) will run into the customer from...
                </div>
                <div class="hp-post-pub-info">
                    <a data-tooltip="See all posts by Andrew McDermott" class="haa-lnk" href="/author/Andrew-McDermott">
                        <img src="http://www.gravatar.com/avatar/2c41a6b9409fa2ad055ca77d56370fd4?s=48" alt="" class="hpppi-author-avatar">
                    </a>
                    <span class="hpppi-author">
                      By
                      <a data-tooltip="See all posts by Andrew McDermott" href="/author/Andrew-McDermott">Andrew McDermott</a>
                      <span class="hpppi-separator">•</span>
        </span>
        <span class="hppi-time">
          <span class="icon-clock-1"></span>
          7 days ago        </span>
        <span class="hpppi-separator">•</span>
                 <span class="hp-inline-shr">
              <span class="hpsi-row">
               <a class="icon-facebook" href="javascript:void(0);" data-url="http://www.webdesignerdepot.com/2016/05/5-clients-that-will-destroy-your-design-business/" data-href="http://www.webdesignerdepot.com/2016/05/5-clients-that-will-destroy-your-design-business/" data-title="5 clients that will destroy your design business" onclick="openFbShare(this)"></a>
             </span>
             <span class="hpsi-row">
               <a class="icon-twitter" data-via="www.webdesignerdepot.com" onclick="return openTwShare(this);" href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.webdesignerdepot.com%2F&amp;via=designerdepot&amp;text=5+clients+that+will+destroy+your+design+business&amp;source=tweetbutton&amp;url=http://www.webdesignerdepot.com/2016/05/5-clients-that-will-destroy-your-design-business/" target="_blank"></a>
             </span>
         </span>
        </div>
         </div>
  </div>
</article>
