<section flex="100" layout="row" layout-align="center center">
  <md-content flex="80" layout-padding>
    <a ui-sref="main.blog.editor">Create New</a>
    <md-card layout-padding ng-hide="ctrl.blogList.length==0">
      <md-list>
        <md-list-item ng-repeat="blog in ctrl.blogList" class="md-3-line" ng-click="ctrl.getInfo(blog.id)">
          <img src="static/images/pic.jpg" alt="" class=" md-avatar">
          <div class="md-list-item-text">
            <div class="content-list-title">
              <span>{{ blog.title }}</span>
              <span class="am-badge am-badge-warning" ng-hide="blog.type == undefined || blog.type == ''">{{ blog.type }}</span>
            </div>
            <div class="content-list-info">
              <span class="content-list-info-author">{{ blog.author }}</span>&nbsp&nbsp&nbsp
              <span>{{ blog.currentDate }}</span>
            </div>
          </div>
          <md-icon ng-style="{color: '#00A'}" ng-click="ctrl.editThisBlog(blog.id)"
                  aria-label="edit"
                  class="md-secondary md-hue-3"
                  ng-class="{'md-primary': false}"
                  ng-class="md-18">
                edit
              </md-icon>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>
  </md-content>
</section>