<div class="col-lg-8 col-md-8 col-xs-8">
  <a ui-sref="main.record.editor">Create New</a>
  <ul class="collection collapsible inner-content" ng-hide="ctrl.blogList.length==0">
    <li class="collection-item avatar" ng-repeat="blog in ctrl.blogList">
        <img src="static/image/pic.jpg" alt="" class="circle" style="margin-top: 0; margin-button: 0;">
        <span ng-click="ctrl.getInfo(blog.id)" class="title">{{blog.title}}</span><br>
        <span ng-click="ctrl.getInfo(blog.id)" class="title">{{ ctrl.getDateFormat(blog.currentDate) }}</span>
        <a class="secondary-content"
          ng-click="ctrl.editThisBlog(blog.id)"
          ng-show="ctrl.canEdit"><i class="material-icons">edit</i></a>
        <a href="#!" class="secondary-content" ng-show="!ctrl.canEdit"><i class="material-icons">grade</i></a>
    </li>
  </ul>

</div>