<ul class="{{options.paginationClass}}">
  <li class="prev" ng-class="{true:\'disabled\'}[params.currentPage == 1]">
    <a ng-hide="params.currentPage == 1" ng-click="getPage(params.currentPage - 1)" class="ng-binding">{{options.previousLabel}}</a>' +
    <span ng-show="params.currentPage == 1" class="ng-binding ng-hide">{{options.previousLabel}}</span>
  </li>
  <li ng-class="{active:params.currentPage == page.value, disabled:page.kind == \'gap\' }" ng-repeat-start="page in collection">
    <span ng-show="params.currentPage == page.value || page.kind == \'gap\'">{{page.value}}</span>
    <a ng-hide="params.currentPage == page.value || page.kind == \'gap\'" ng-click="getPage(page.value)">{{page.value}}</a>
  </li>
  <li ng-repeat-end></li>
  <li class="next" ng-class="{true:\'disabled\'}[params.currentPage == params.totalPages]">
    <a ng-hide="params.currentPage == params.totalPages" ng-click="getPage(params.currentPage + 1)">{{options.nextLabel}}</a>
    <span ng-show="params.currentPage == params.totalPages">{{options.nextLabel}}</span>
  </li>
</ul>
