
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard.index">Home</a></li>
        <li ng-repeat="breadcrumb in indexCtrl.currentInfo.breadcrumbs"
          ng-class="{'active': $last}">
          <a ui-sref="{{ breadcrumb.link }}">{{ breadcrumb.name }}</a>
        </li>
      </ol>
      <h2>{{ indexCtrl.currentInfo.subTitle }}</h2>
    </div>
    <div class="col-sm-4">
      <div class="profile-picture pull-right ap-dropdown">
          <img ng-src="{{indexCtrl.userImg}}" class="img-circle m-b" alt="logo">
          <ul class="dropdown">
            <li>
              <i class="fa fa-object-group"></i>&nbsp;&nbsp;{{ 'Support Doc Edit' | translate}}
              <div class="pull-right">
                <input type="checkbox" ng-model="indexCtrl.supportDocEdit" />
              </div>
            </li>
            <li>
              <i class="fa fa-object-group"></i>&nbsp;&nbsp;{{ 'Support Type Edit' | translate}}
              <div class="pull-right">
                <input type="checkbox" ng-model="indexCtrl.supportTypeEdit" />
              </div>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
