.div-none {
  padding: 0; }

/* Item default backgroup color is #F7F7F7 */
.item-default-backgroup-color, .item-article:hover, .item-article:hover .item-article-link::before, .item-article:hover .item-article-link::after {
  background-color: #F7F7F7; }

/* Item default transition width */
.item-default-transition-width, .item-article:hover .item-article-link::before, .item-article:hover .item-article-link::after, .item-article-link::before, .item-article-link::after {
  -webkit-transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
  -ms-transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
  transition: width 0.25s ease-in-out, right 0.25s ease-in-out; }

/* Item default transition left */
.item-default-transition-left, .item-article:hover .item-article-info, .item-article-info {
  -webkit-transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
  -ms-transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
  -moz-transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
  -o-transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
  transition: left 0.25s ease-in-out, right 0.25s ease-in-out; }

/* The item style*/
.item-article {
  width: 100%;
  border-bottom: 1px solid #d5d7da;
  padding: 20px 0px;
  overflow: hidden;
  /* The item:hover style*/ }
  .item-article:hover .item-article-link::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 20px;
    top: 0;
    z-index: 5; }
  .item-article:hover .item-article-link::after {
    width: 0px; }
  .item-article:hover .item-article-info {
    left: 30px; }
  .item-article-content {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .item-article-link {
    width: 35%;
    background-color: #FFF;
    float: left;
    position: relative; }
    .item-article-link img {
      width: 100%;
      height: 100%; }
    .item-article-link::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 0px;
      top: 0;
      background-color: #FFF;
      z-index: 5; }
    .item-article-link::after {
      content: "";
      position: absolute;
      right: 0;
      height: 100%;
      width: 20px;
      top: 0;
      background-color: #FFF;
      z-index: 5; }
  .item-article-info {
    width: 65%;
    float: right;
    overflow: visible;
    position: relative;
    padding-right: 50px;
    left: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
    .item-article-info-title {
      font-size: 30px;
      line-height: 1.2em;
      position: relative;
      font-family: "Titling Gothic FB Cond Std";
      font-style: normal;
      font-weight: normal;
      color: #000; }
      .item-article-info-title a {
        text-decoration: none;
        color: #000; }
        .item-article-info-title a:hover {
          text-decoration: underline; }
    .item-article-info-content {
      color: #777;
      margin-top: 15px;
      font-size: 15px;
      line-height: 20px; }
  .item-article-info {
    left: 0px; }
  .item-article-pub-info {
    color: #777;
    margin-top: 15px;
    font-size: 15px;
    line-height: 20px; }
    .item-article-pub-info-separator {
      display: inline-block;
      margin: 0 3px; }
    .item-article-pub-info-author {
      float: left; }
      .item-article-pub-info-author a {
        margin-left: 3px;
        color: #0c7fd7;
        cursor: pointer; }
        .item-article-pub-info-author a:hover {
          text-decoration: underline; }
    .item-article-pub-info-date {
      margin-left: 5px;
      float: left; }
      .item-article-pub-info-date span {
        margin-left: 3px; }
    .item-article-pub-info-comment {
      float: left;
      margin-left: 5px; }
      .item-article-pub-info-comment span {
        margin-left: 3px; }

.item-info {
  padding: 15px;
  margin-bottom: 3px;
  border: 1px solid transparent;
  border-radius: 4px; }
  .item-info-light {
    background-color: #ebf1ec; }
  .item-info-title {
    padding-right: 15px; }

.item-news {
  min-width: 180px;
  padding: 15px;
  margin-bottom: 3px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #daf3de; }
  .item-news .site-link {
    color: #FFFFFF !important; }
  .item-news .title {
    padding-top: 5px; }
    .item-news .title a {
      color: #000;
      font-weight: 300; }

.content {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px; }
  .content-light {
    background-color: #efefef; }

.ap-panel {
  margin-bottom: 0;
  border-radius: 0px !important;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .ap-panel-default {
    border-color: #cac8c8; }

.ap-panel-heading {
  color: #333;
  border-color: #fff;
  border-bottom: 0;
  padding: 6px 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: 1px solid transparent;
  border-color: #cac8c8; }
  .ap-panel-heading h4 {
    border-left: 5px solid;
    border-color: #ffcd00;
    padding-left: 10px; }

/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.box.box-primary {
  border-top-color: #3c8dbc; }

.box.box-info {
  border-top-color: #00c0ef; }

.box.box-danger {
  border-top-color: #dd4b39; }

.box.box-warning {
  border-top-color: #f39c12; }

.box.box-success {
  border-top-color: #00a65a; }

.box.box-default {
  border-top-color: #d2d6de; }

.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none; }

.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0; }

.box .nav-stacked > li:last-of-type {
  border-bottom: none; }

.box.height-control .box-body {
  max-height: 300px;
  overflow: auto; }

.box .border-right {
  border-right: 1px solid #f4f4f4; }

.box .border-left {
  border-left: 1px solid #f4f4f4; }

.box.box-solid {
  border-top: 0; }

.box.box-solid > .box-header .btn.btn-default {
  background: transparent; }

.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1); }

.box.box-solid.box-default {
  border: 1px solid #d2d6de; }

.box.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de; }

.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444444; }

.box.box-solid.box-primary {
  border: 1px solid #3c8dbc; }

.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc; }

.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff; }

.box.box-solid.box-info {
  border: 1px solid #00c0ef; }

.box.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef; }

.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #ffffff; }

.box.box-solid.box-danger {
  border: 1px solid #dd4b39; }

.box.box-solid.box-danger > .box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39; }

.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #ffffff; }

.box.box-solid.box-warning {
  border: 1px solid #f39c12; }

.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #f39c12;
  background-color: #f39c12; }

.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #ffffff; }

.box.box-solid.box-success {
  border: 1px solid #00a65a; }

.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #00a65a; }

.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff; }

.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none; }

.box.box-solid[class*='bg'] > .box-header {
  color: #fff; }

.box .box-group > .box {
  margin-bottom: 5px; }

.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em; }

.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px; }

.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px; }

.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5); }

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table; }

.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both; }

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative; }

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4; }

.collapsed-box .box-header.with-border {
  border-bottom: none; }

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1; }

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px; }

.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px; }

.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative; }

.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto; }

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3; }

.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84; }

.btn-box-tool.btn:active {
  box-shadow: none; }

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px; }

.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

.box-body > .table {
  margin-bottom: 0; }

.box-body .fc {
  margin-top: 5px; }

.box-body .full-width-chart {
  margin: -19px; }

.box-body.no-padding .full-width-chart {
  margin: -9px; }

.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px; }

.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0; }

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff; }

.chart-legend {
  margin: 10px 0; }

@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px; } }
.box-comments {
  background: #f7f7f7; }

.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee; }

.box-comments .box-comment:before,
.box-comments .box-comment:after {
  content: " ";
  display: table; }

.box-comments .box-comment:after {
  clear: both; }

.box-comments .box-comment:last-of-type {
  border-bottom: 0; }

.box-comments .box-comment:first-of-type {
  padding-top: 0; }

.box-comments .box-comment img {
  float: left; }

.box-comments .comment-text {
  margin-left: 40px;
  color: #555; }

.box-comments .username {
  color: #444;
  display: block;
  font-weight: 600; }

.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px; }

body {
  font-family: Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471; }

h2 {
  font-size: 18px;
  font-weight: 400; }

.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease; }

@media (max-width: 1200px) {
  .x_title h2 {
    width: 62%;
    font-size: 17px; }

  .tile, .graph {
    zoom: 85%;
    height: inherit; } }
@media (max-width: 1270px) and (min-width: 192px) {
  .x_title h2 small {
    display: none; } }
.x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px; }

.x_title .filter {
  width: 40%;
  float: right; }

.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.x_title h2 small {
  margin-left: 10px; }

.x_title span {
  color: #BDBDBD; }

.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5px; }
  .x_content fieldset {
    padding: .35em .625em .75em !important;
    margin: 0 2px !important;
    border: 1px solid silver !important;
    border-radius: 3px; }

.panel_toolbox {
  float: right; }

.panel_toolbox > li {
  float: left;
  cursor: pointer; }

.panel_toolbox > li > a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px; }

.navbar-right {
  margin-right: 0; }

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav > li {
  float: left; }

.nav > li > a:focus {
  text-decoration: none;
  background: transparent; }

.nav > li > a {
  position: relative;
  display: block; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent; }

.panel_toolbox > li > a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.fixed-height-320 {
  height: 320px; }

.mission-create-btn {
  height: 45px;
  background-color: #5cb85c;
  border: 1px solid transparent;
  border-color: #4cae4c;
  border-radius: 0px;
  cursor: pointer;
  line-height: 45px;
  text-align: center;
  color: #FFF;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif; }

.mission-pic {
  width: 100%;
  height: 150px;
  padding-bottom: 8px; }

.mission-pic img {
  width: 100%;
  height: 100%; }

.mission-list {
  border-radius: 0px; }

.mission-list li {
  outline: none;
  border-radius: 0px !important; }

.mission-list li .badge {
  color: #FFF;
  background-color: #269abc; }

.mission-info {
  border-color: #d9f9d9;
  overflow: auto;
  font-size: 16px;
  font-weight: 300; }

.mission-info .row {
  padding-top: 5px; }

.mission-complate {
  background-color: #5cb85c;
  color: #FFF; }

.mission-complate .badge {
  color: #000 !important;
  background-color: #FFF !important; }

/*# sourceMappingURL=index.css.map */
