.div-none {
  padding: 0; }

/* Item default backgroup color is #F7F7F7 */
.item-default-backgroup-color, .item-article:hover, .item-article:hover .item-article-link::before, .item-article:hover .item-article-link::after {
  background-color: #F7F7F7; }

/* Item default transition width */
.item-default-transition-width, .item-article:hover .item-article-link::before, .item-article:hover .item-article-link::after, .item-article-link::before, .item-article-link::after {
  -webkit-transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
  -ms-transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out, right 0.25s ease-in-out;
  transition: width 0.25s ease-in-out, right 0.25s ease-in-out; }

/* Item default transition left */
.item-default-transition-left, .item-article:hover .item-article-info, .item-article-info {
  -webkit-transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
  -ms-transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
  -moz-transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
  -o-transition: left 0.25s ease-in-out, right 0.25s ease-in-out;
  transition: left 0.25s ease-in-out, right 0.25s ease-in-out; }

/* The item style*/
.item-article {
  width: 100%;
  border-bottom: 1px solid #d5d7da;
  padding: 20px 0px;
  overflow: hidden;
  /* The item:hover style*/ }
  .item-article:hover .item-article-link::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 20px;
    top: 0;
    z-index: 5; }
  .item-article:hover .item-article-link::after {
    width: 0px; }
  .item-article:hover .item-article-info {
    left: 30px; }
  .item-article-content {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .item-article-link {
    width: 35%;
    background-color: #FFF;
    float: left;
    position: relative; }
    .item-article-link img {
      width: 100%;
      height: 100%; }
    .item-article-link::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 0px;
      top: 0;
      background-color: #FFF;
      z-index: 5; }
    .item-article-link::after {
      content: "";
      position: absolute;
      right: 0;
      height: 100%;
      width: 20px;
      top: 0;
      background-color: #FFF;
      z-index: 5; }
  .item-article-info {
    width: 65%;
    float: right;
    overflow: visible;
    position: relative;
    padding-right: 50px;
    left: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
    .item-article-info-title {
      font-size: 30px;
      line-height: 1.2em;
      position: relative;
      font-family: "Titling Gothic FB Cond Std";
      font-style: normal;
      font-weight: normal;
      color: #000; }
      .item-article-info-title a {
        text-decoration: none;
        color: #000; }
        .item-article-info-title a:hover {
          text-decoration: underline; }
    .item-article-info-content {
      color: #777;
      margin-top: 15px;
      font-size: 15px;
      line-height: 20px; }
  .item-article-info {
    left: 0px; }
  .item-article-pub-info {
    color: #777;
    margin-top: 15px;
    font-size: 15px;
    line-height: 20px; }
    .item-article-pub-info-separator {
      display: inline-block;
      margin: 0 3px; }
    .item-article-pub-info-author {
      float: left; }
      .item-article-pub-info-author a {
        margin-left: 3px;
        color: #0c7fd7;
        cursor: pointer; }
        .item-article-pub-info-author a:hover {
          text-decoration: underline; }
    .item-article-pub-info-date {
      margin-left: 5px;
      float: left; }
      .item-article-pub-info-date span {
        margin-left: 3px; }
    .item-article-pub-info-comment {
      float: left;
      margin-left: 5px; }
      .item-article-pub-info-comment span {
        margin-left: 3px; }

/*# sourceMappingURL=index.css.map */
