
body {
  width:100%;
  padding:0;
  margin:0;
  background-color: #f3f3f3;
  box-sizing: border-box;
  font-family: 'Roboto';
}

code {
  font-family: "Roboto", 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', 'monospace !important';
}

.CodeMirror-code {
  font-family: 'Roboto', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', 'monospace !important';
}

button, html, input, select, textarea {
  font-family: 'Roboto', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', 'monospace !important';
}

p, h4 {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.cursor-link{
cursor:pointer
}

.content-list-title {
  font-size: 16px;
  font-weight: 700;
}

.content-list-info {
  font-size: 14px;
  color: #999;
}

.content-list-info-author {
  font-weight: 700;
}

.card-content {
    border-radius: 0 0 2px 2px;
}

.card-content {
    text-align: center;
}

.white-text {
    color: #FFFFFF !important;
}

.card-stats-title, .card-stats-title i {
    font-size: 18px;
    font-weight: normal;
}

.card-stats-number {
  font-size: 24px;
}

.skip-blue{
  background-color: #00bcd4;
}


/********* Badge ***********/
.am-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: .8rem;
}

.am-badge:hover, .am-badge:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.am-badge-danger {
    background-color: #dd514c;
}

.am-badge-warning {
    background-color: #f37b1d;
}

.am-badge-success {
    background-color: #5eb95e;
}

.am-badge-secondary {
    background-color: #3bb4f2;
}

.am-badge-primary {
    background-color: #0e90d2;
}
