
/** Start header style**/
.header .logo {
    float: left;
    font-size: 20px;
    padding: 0 10px;
    width: 220px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    height: 50px;
    display: block;
}
/** End header style **/

/** Start breakcrumb style **/
.breakcrumb-nav {
  background-color: #6EB2EE;
}
/** End breakcrumb style **/

.inner-content{
  padding: 20px;
}
