
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.logo-font {
  font-size: 24px;
  font-family: 'Grand Hotel',cursive;
  font-weight: 600;
}

.font-sm {
  font-size: 12px;
  font-weight: 300;
}

.font-md {
  font-size: 12px;
  font-weight: 300;
}
