
$header-default-color: #393f4d;
$link-hover-color: #66ad44;

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

@import "transition.scss";

@import "box.scss";
@import "ap-panel.scss";
@import "breadcrumb.scss";
@import "fixed-height.scss";
@import "fixed-width.scss";
@import "mission.scss";
@import "header.scss";
@import "font.scss";
@import "wrapper.scss";
