
.wrapper {
    height: 100%;
    overflow-x: hidden;
    -webkit-transition: margin-left 400ms cubic-bezier(0.7,0,0.3,1);
    transition: margin-left 400ms cubic-bezier(0.7,0,0.3,1);
}

.section-default {
  padding-top: 15px;
  padding-bottom: 15px;
}

.distance-default {
  padding-bottom: 20px;
}

.wrapper-new-label {
    background-color: #fafafa;
    border: 1px solid #e5e6e7;
    padding: 12px;
    width: 100%;
}

.header-title-wrapper {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #393f4d;

  h3 {
    padding: 3px 3px 3px 10px;
    font-family: Georgia, Times, "Times New Roman", "Heiti SC", "Microsoft Yahei", 微软雅黑, 宋体, serif;
  }
}

.video-wrapper {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
